*.gem
*.rbc
.bundle
.config
coverage
coverage_integration
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.*.key

# YARD artifacts
.yardoc
_yardoc
doc/

.ruby-version
.rbenv-gemsets
